* {
	margin: 0;
	padding: 0;
}
#result_chart_div{
	height: 400px;
}
#content_div{
	position:relative;
	margin: 0px auto;
	width: 830px;
	height: 600px;
	border: 1px solid #333333;
}
#left_div{
	position:absolute;
	margin: 0px auto;
	//padding-left:10px;
	padding-top:10px;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 568px;
	border: 1px solid #333333;
}
#video_div{
	/*position:absolute;
	margin: 0px auto;
	top: 10px;
	left: 132px;
	width: 420px;
	height: 466px;*/
	//border: 1px solid #333333;
}
#right_div{
	position:absolute;
	margin: 0px auto;
	top: 10px;
	left: 566px;
	width: 250px;
	height: 578px;
	border: 1px solid #333333;
}
#bottom_div{
	position:absolute;
	margin: 0px auto;
	top: 490px;
	left: 132px;
	width: 420px;
	height: 98px;
	border: 1px solid #333333;
}
.drag-container{
	min-height:200px;
	border:1px solid #333333;
	text-align:center;
	margin: 0px auto;
	padding-bottom: 20px;
}
.draggable{
	margin: 0px auto;
	display:inline-block;
	z-index:100;
}
.draggable2{
	margin: 0px auto;
	display:inline-block;
	z-index:100;
}

.bordered{
	border: 1px solid #333333;
}

.hidden {
	display: none;
}

.drag-component{
	min-height:120px;
	height:120px;
	width:120px;
}
.custom-modal {
	position: absolute;
	overflow: hidden;
	right: inherit;
	background-color: white ;
}

.endpage{
	position:absolute;
	left:0px;
	top:0px;
}

#anspic{
	position:absolute;
	display:none;
	top:12px;
	left:12px;
	z-index:100;
}
